.clipStrip
{
	padding-left:0px;
	height:7px;
	border: 0;
	border-bottom: 0;

	position:relative;
	/*specific to video viewer*/
	width:285px;
	padding-right:35px;
}

/*probably useless*/
.clipStripLabel
{
	margin:0;
	padding:1px;
	width:33px;
	float:left;
	position:relative;
}

.clipStripTrack
{
	position:absolute;
	height:7px;
	padding:0px;
	margin:0px;
	z-index:0;
	background-color: #e0e0e0;
	border: 1px solid #999;

	/*specific to video viewer*/
	left:38px;
	width:230px;
}


.clipSlider
{
	top:0px;
	width:0px;
	height:7px;
	padding:0 0 0 7px;
	margin:0;
	position:absolute;
	background:url('bookendleft.gif') top left no-repeat ;
	z-index:0;
}

.clipStripRange {
	top:0px;
	background:#CCE6EF;
	padding:0px;
	margin:0px;
	width:0px;
	height:7px !important; 
	z-index:0;
	position:relative;
}

.clipStripEnd {
	top:0px;
	margin:0;
	width:0px;
	height:7px;
	padding:0 6px 0 0;
	background:url('bookendright.gif') top right no-repeat;
	position:absolute;
	z-index:0;
	
}
