em.annotation {
        background: #ffe880;
        font-style: normal;
}

em.annotation em.annotation {
        background: #ecd470;
}

em.annotation em.annotation em.annotation {
        background: #d8c666;
}
