.imagecontainer {
	display: block;
	overflow:hidden;
	position:relative;
}



.image-annotation-selection {
	position:absolute;
	/*opacity:0.40;
	background-color:blue;*/
	border:3px solid yellow;
	height:100px;
	width:100px;
	left:20px;
	top:60px;
}

.zoom {
	width:1.5em;
	border:1px solid black;
	text-align:center;
	float:left;
	clear:left;
}

.image-controls {

}